<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form method="post" action="/" enctype="multipart/form-data">
  Title: <input type="text" name="title"><br>
  File : <input type="file" name="upload"><br>
  <input type="submit" value="Upload">
</form>
